<h1>Todo list</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @todos.each do |cur| %>
    <tr>
      <td><%= cur.title %></td>
      <td><%= cur.text %></td>
      <td><%= link_to 'show', todo_path(cur) %></td>
      <td><%= link_to 'edit', edit_todo_path(cur) %></td>
    </tr>
  <% end %>
</table>
